bs4
gitpython
google-api-python-client
httplib2
influxdb
prometheus_client
psycopg2
requests
simplejson
pyyaml
# Simplestreams is not found on PyPi so pull from repo directly
git+https://git.launchpad.net/simplestreams@21c5bba2a5413c51e6b9131fc450e96f6b46090d
